<h1>Recent contributions for <%= @campaign.title %></h1>
<% @contributions.each do |contribution| %>
  <p><%= contribution.first_name %> <%= contribution.last_name %> says: </p>
  <p><%= contribution.note %>
<% end %>
