<h1>Welcome to Fido!</h1>
<p><%= link_to("Go to active campaigns", campaigns_path)%></p>
<p><%= link_to("Add new campaign", new_campaign_path) %></p>
<p><%= link_to("Sign up here", sign_up_path) %></p>
<p><%= link_to("Sign in here", new_session_path) %></p>
